NodeRED.json
[
    {
        "id": "51d33dbb1ab56f07",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48e95ef1c78544f6",
        "type": "mqtt in",
        "z": "51d33dbb1ab56f07",
        "name": "",
        "topic": "Ehab/Home/Flame",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5801d1715eeb391",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "4a5722e654d559fd"
            ]
        ]
    },
    {
        "id": "5733050fbbc78ac4",
        "type": "mqtt in",
        "z": "51d33dbb1ab56f07",
        "name": "",
        "topic": "Ehab/Home/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5801d1715eeb391",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "afecb3d8c60577b9"
            ]
        ]
    },
    {
        "id": "50bf093fa6eaf102",
        "type": "mqtt in",
        "z": "51d33dbb1ab56f07",
        "name": "",
        "topic": "Ehab/Home/Humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5801d1715eeb391",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "c40d0cdfb49eb2eb"
            ]
        ]
    },
    {
        "id": "afecb3d8c60577b9",
        "type": "ui_chart",
        "z": "51d33dbb1ab56f07",
        "name": "",
        "group": "e69ca5f2f3a21153",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature ℃",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "60",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c40d0cdfb49eb2eb",
        "type": "ui_chart",
        "z": "51d33dbb1ab56f07",
        "name": "",
        "group": "e69ca5f2f3a21153",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "4a5722e654d559fd",
        "type": "ui_text",
        "z": "51d33dbb1ab56f07",
        "group": "e69ca5f2f3a21153",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Flame:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "07e9f9debd086c2a",
        "type": "mqtt in",
        "z": "51d33dbb1ab56f07",
        "name": "",
        "topic": "Ehab/Home/Lights",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5801d1715eeb391",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "cf571552e0f8aea1"
            ]
        ]
    },
    {
        "id": "cf571552e0f8aea1",
        "type": "ui_text",
        "z": "51d33dbb1ab56f07",
        "group": "e69ca5f2f3a21153",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light Intensity:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "a5801d1715eeb391",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e69ca5f2f3a21153",
        "type": "ui_group",
        "name": "Home Monitoring",
        "tab": "0377c37f66cdf622",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0377c37f66cdf622",
        "type": "ui_tab",
        "name": "Home Monitoring",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]